:root {
  /* colors */
  --small-font-color: #959595;
  --main-font-color: #3a3a3a;
  --badge-font-color: #616161;

  /* width */
  --home-width: 1200px;

  /* animation */
  --animation-duration: 700ms;
  --animation-delay: 100ms;
}

@keyframes fadeInAndBounce {
  /* 0% {
    opacity: 0.2;
    transform: translateY(12px);
  }
  25% {
    opacity: 0.4;
    transform: translateY(9px);
  }

  50% {
    opacity: 0.6;
    transform: translateY(6px);
  }
  75% {
    opacity: 0.8;
    transform: translateY(3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  } */

  from {
    opacity: 0.3;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
