.awards {
  display: flex;
  padding: 0 10px;
  animation: fadeInAndBounce var(--animation-duration) linear
    calc(var(--animation-delay) * 2);
}

.awards li:not(:last-child) {
  margin-right: 28px;
}

.awards .awardHistory {
  display: flex;
}

.awards .awardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  color: var(--badge-font-color);
}

.awards .awardInfo span {
  display: inline-block;
  padding: 4px 9px;
}
