.indicatorPharase .phrase {
  padding: 10px;
  font-size: 36px;
  color: var(--main-font-color);
}

.indicatorPharase .phrase strong {
  font-weight: 700;
}

.indicatorPharase {
  margin-bottom: 50px;
}
