.indicatorPhrase .phrase {
  display: grid;
  grid-template-columns: 1fr 5.5fr;
  padding: 10px;
  font-size: 36px;
  letter-spacing: -1px;
  color: var(--main-font-color);
  animation: fadeInAndBounce var(--animation-duration) linear
    var(--animation-delay);
}

.indicatorPhrase .phrase .indicatorUnit,
.indicatorPhrase .phrase .phraseIndocator {
  font-weight: 700;
}

.indicatorPhrase {
  margin-bottom: 24px;
}

.indicatorPhrase .phraseIndocator {
  place-self: end;
}
