.indicatorPhrase .phrase {
  padding: 10px;
  font-size: 36px;
  letter-spacing: -1px;
  color: var(--main-font-color);
}

.indicatorPhrase .phrase strong {
  font-weight: 700;
}

.indicatorPhrase {
  margin-bottom: 40px;
}

.indicatorPhrase {
  animation: fadeInAndBounce var(--animation-duration) linear
    var(--animation-delay);
}
