.leftImage {
  position: relative;
}

.leftImage .indicatorStandard {
  position: absolute;
  left: 50%;
  bottom: 47px;
  color: var(--small-font-color);
  font-size: 15px;
  transform: translateX(-50%);
}
