.leftImage {
  position: relative;
  padding: 10px 0;
  animation: fadeInAndBounce var(--animation-duration) linear;
}

.leftImage .indicatorStandard {
  position: absolute;
  left: 50%;
  bottom: 57px;
  color: var(--small-font-color);
  font-size: 15px;
  transform: translateX(-50%);
}
